.bblack {
    color: black;
    font-weight: bold;
}

.red {
    color: #AA0000;
}
.bred{
    color: #AA0000;
    font-weight: bold;
}
.blue {
    color: #0088FF;
}
.bblue {
    color: #0088FF;
    font-weight: bold;
}
.green {
    color: #008800;
}
.bgreen {
    color: #008800;
    font-weight: bold;
}
.magenta{
    color: #AA00AA;
}
.bmagenta{
    color: #AA00AA;
    font-weight: bold;
}
.gray{
    color: #2A415E;
}
.bgray{
    color: #2A415E;
    font-weight: bold;
}
.orange{
    color: #CA7900;
}
.borange{
    color: #CA7900;
    font-weight: bold;    
}
