.red {
    color: red;
}
.bred{
    color: red;
    font-weight: bold;
}
.blue {
    color: blue;
}
.bblue {
    color: blue;
    font-weight: bold;
}
.green {
    color: green;
}
.bgreen {
    color: green;
    font-weight: bold;
}
.magenta{
    color: #FF00FF;
}
.bmagenta{
    color: #FF00FF;
    font-weight: bold;
}
.gray{
    color: #2A415E;
}
.bgray{
    color: #2A415E;
    font-weight: bold;
}
.orange{
    color: #CA7900;
}
.borange{
    color: #CA7900;
    font-weight: bold;    
}
